#board_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#board_container.wait .player_two .game_start {
  display: block;
  position: absolute;
  top: 20%;
}

#board_container.wait .player_two > .board {
  opacity: 0.4;
}

#board_container > *.wait > .board {
  opacity: 0.4;
}

.player_two {
  position: relative;
}

.player_one > .board,
.player_two > .board {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-auto-rows: 2rem;
}

.player_two > .game_start {
  display: none;
}

.cell {
  /* width: 16px;
  height: 16px; */
  background-color: white;
  border: 0.5px solid black;
  position: relative;
}

.cell.miss {
  background-color: grey;
}

.cell.hit {
  background-color: red;
}

.cell > .row_marker {
  position: absolute;
  right: 2rem;
}

.cell > .col_marker {
  position: absolute;
  bottom: 2rem;
}
