#boards_container {
  margin-top: 4em;
  display: flex;
  gap: 8rem;
  user-select: none;
}

#boards_container > * > .board > * {
  display: flex;
}

#boards_container > *.wait > *:not(.game_play) {
  opacity: 0.4;
  pointer-events: none;
}

#boards_container > * > .board > * > .cell {
  border: none;
}

#boards_container.busy > * > .board > * > .cell:not(.hit):not(.miss) {
  cursor: pointer;
}

#boards_container.busy > * > .board > * > .cell:not(.hit):not(.miss):hover > .cell_content {
  border-width: 3px;
  border-color: green;
}

#boards_container > *:not(.wait) > * > * > .cell > .cell_content > .ship {
  background-color: transparent;
}

.player_one,
.player_two {
  position: relative;
  width: min-content;
}

.player_two.inactive {
  display: none;
}

.play_btn.inactive {
  display: none;
}

.play_btn {
  display: block;
  position: absolute;
  top: 10%;
  padding: var(--padding-med-btn);
}

.play_btn > button {
  font-size: 4rem;
}

.cell > * {
  width: 2em;
  height: 2em;
  position: relative;
  background-color: white;
  /* pointer-events: none; */
  border: 1px solid black;
  /* box-sizing: content-box; */
}

.cell > .cell_content > .ship {
  /*
  Show ship during placing ships phase
  Show only active player's ship when game is in play
  */
  pointer-events: none;
  height: 100%;
  background-color: cornflowerblue;
}

.cell > .cell_content > .blank_wrapper {
  display: block;
}

.cell.done > .cell_content {
  border-color: red;
  border-width: 2px;
}

#boards_container > * > .board > * > .cell.hit > .cell_content > .ship::before,
#boards_container > * > .board > * > .cell.hit > .cell_content > .ship::after {
  /* Original values */
  /*
  left: 50%;
  width: 2px;
  top: -25%;
  height: 150%;
  */
  content: '';
  position: absolute;
  background: red;
  left: 45%;
  width: 3px;
  top: -10%;
  height: 120%;
  z-index: 2;
}

#boards_container > * > .board > * > .cell.hit > .cell_content > .ship::before {
  /* Original */
  transform: rotate(45deg);
  margin-top: 1px;
}

#boards_container > * > .board > * > .cell.hit > .cell_content > .ship::after {
  /* Original */
  transform: rotate(-45deg);
  margin-top: 1px;
}

#boards_container > * > .board > * > .cell.miss > .cell_content > .blank_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  background: #333;
  border-radius: 50%;
  margin-top: -2px;
  margin-left: -2px;
  z-index: 1;
}

#boards_container > * > .board > * > .cell.done > .cell_content > .blank_wrapper {
  position: absolute;
  border: 4px solid red;
  top: -2px;
  left: -2px;
  z-index: 2;
  width: inherit;
  height: inherit;
}

#boards_container > * > .board > * > .cell.miss > .cell_content {
  background-color: #e1e3e8;
}

.cell_content > .row_marker {
  position: absolute;
  height: 100%;
  display: flex;
  left: -2em;
  top: 0;
  align-items: center;
  z-index: -1;
}

.cell_content > .col_marker {
  position: absolute;
  top: -2em;
  text-align: center;
  width: 100%;
  z-index: -1;
}
